@model KiemTra_NguyenVuDucMinh.Models.SinhVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XÓA SINH VIÊN</h2>

<h3>Bạn có muốn xóa sinh viên này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MSSV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSV)
        </dd>

        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Hình
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Hinh)" width="150px" height="215px" alt="hinh" />
        </dd>

        <dt>
            Mã Ngành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNganh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListSV")
        </div>
    }
</div>
