@model KiemTra_NguyenVuDucMinh.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MSSV
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSV)
        </dd>

        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Hinh
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Hinh)" width="150px" height="215px" alt="hinh" />
        </dd>

        <dt>
           Mã ngành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNganh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Back to List", "ListSV")
</p>
